.container {
    width: 430px;
    background-color: crimson;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: aquamarine;
    text-align: center;
    line-height: 100px;
    float: left;
}

.container div:not(:nth-of-type(4n)) {
    margin-right: 10px;
}

.container div:nth-of-type(-n+12) {
    margin-bottom: 10px;
}

.container::after {
    content: "";
    display: block;
    clear: left;
}

/* 부모 요소가 block 요소일 경우에만 clear 지정 */

/* 4의 배수마다
not을 이용해서 margin right를 제외

12이하 13이상

float 부모 요소

색 지정하려면 clear 이용 */