body {
    background-image: url(/image/KakaoTalk_20220228_143634119.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: scroll; */
}

body {
    background-attachment: fixed;
}

body {
    background-size: 100vw;
    /* background-size: 300px 500px; */
}

body {
    background: url(/image/KakaoTalk_20220228_143634119.jpg) no-repeat bottom right/50vw yellow;
}

