    body {
        color: fuchsia;
        text-align: center;
    }

    ol {
        color: darkcyan;
        text-align: left;
    }

    div {
        font-size: 200%;
    }
    /* 식별자 */
    #childsize {
        font-size: 50%;
    }

    div>p {
        font-size: 50%;
    }